
.container {    
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    height: 490px;
    padding: 30px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90px;
    & .top {
        display: flex;
        width: 100%;
        height: 45px;
        background: $orange;
    }

    & .filter-section {
        display: flex;
        width: 100%;
        height: 45px;
        background: $gray;
    }
}

.drop-zone {    
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    align-content: start;
    padding: 15px;
    border: 3px dashed #b3b3b3;
    border-radius: 10px;
}

.item, .new-item {
    margin: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsla(0, 0%, 40%, 1);
}

.item, .new-item {
    border: 2px dashed #783db3;
    border-radius: 10px;
    width: 100%;     
    height: 100px;           
    cursor: move;
    user-select: none;
}

.new-item {
    cursor: pointer;
    border: 2px dashed #b3b3b3;
    font-size: 16px;
}

.friends {
    display: flex;
    flex-wrap: wrap;
}

.friend {
    width: 100px;
    margin: 0 40px 40px 0;
    text-align: center;
}

.friend img {
    border-radius: 50%;
    -webkit-user-drag: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;                
}