/*шаблон по которому формирются стили для svg иконок*/
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-about_bg_left {
	font-size:(1013.986/10)*1rem;
	width:(900.006/1013.986)*1em;
}
.icon-about_bg_right {
	font-size:(1009.986/10)*1rem;
	width:(900.331/1009.986)*1em;
}
.icon-about_header {
	font-size:(175.44/10)*1rem;
	width:(498.161/175.44)*1em;
}
.icon-arrow_down {
	font-size:(16.164/10)*1rem;
	width:(25.18/16.164)*1em;
}
.icon-bg {
	font-size:(354.69/10)*1rem;
	width:(2000/354.69)*1em;
}
.icon-blog_header {
	font-size:(208.012/10)*1rem;
	width:(302.193/208.012)*1em;
}
.icon-check {
	font-size:(13.922/10)*1rem;
	width:(18.164/13.922)*1em;
}
.icon-envelope {
	font-size:(17.295/10)*1rem;
	width:(22.012/17.295)*1em;
}
.icon-envelope2 {
	font-size:(16.391/10)*1rem;
	width:(23/16.391)*1em;
}
.icon-envelope_n {
	font-size:(45/10)*1rem;
	width:(45/45)*1em;
}
.icon-github {
	font-size:(22/10)*1rem;
	width:(26/22)*1em;
}
.icon-github_round {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-hamburger {
	font-size:(35/10)*1rem;
	width:(40/35)*1em;
}
.icon-in {
	font-size:(22.938/10)*1rem;
	width:(24/22.938)*1em;
}
.icon-in_round {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-link {
	font-size:(19.125/10)*1rem;
	width:(19.125/19.125)*1em;
}
.icon-login {
	font-size:(15.422/10)*1rem;
	width:(14.137/15.422)*1em;
}
.icon-map_marker {
	font-size:(21.654/10)*1rem;
	width:(15.151/21.654)*1em;
}
.icon-map_n {
	font-size:(45/10)*1rem;
	width:(45/45)*1em;
}
.icon-password {
	font-size:(15.984/10)*1rem;
	width:(16.897/15.984)*1em;
}
.icon-phone {
	font-size:(18.863/10)*1rem;
	width:(18.864/18.863)*1em;
}
.icon-phone2 {
	font-size:(20.947/10)*1rem;
	width:(16.492/20.947)*1em;
}
.icon-phone_n {
	font-size:(45/10)*1rem;
	width:(45/45)*1em;
}
.icon-portf_arrow_down {
	font-size:(27.435/10)*1rem;
	width:(42.736/27.435)*1em;
}
.icon-portf_arrow_up {
	font-size:(27.435/10)*1rem;
	width:(42.736/27.435)*1em;
}
.icon-portfolio_header {
	font-size:(313.961/10)*1rem;
	width:(1175.495/313.961)*1em;
}
.icon-skype {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-skype_n {
	font-size:(600/10)*1rem;
	width:(600/600)*1em;
}
.icon-stars1 {
	font-size:(110.966/10)*1rem;
	width:(186.861/110.966)*1em;
}
.icon-stars2 {
	font-size:(132.5/10)*1rem;
	width:(171.5/132.5)*1em;
}
.icon-stars3 {
	font-size:(124.03/10)*1rem;
	width:(103.03/124.03)*1em;
}
.icon-telegram_logo {
	font-size:(238.892/10)*1rem;
	width:(238.892/238.892)*1em;
}
.icon-vk {
	font-size:(17.123/10)*1rem;
	width:(30.011/17.123)*1em;
}
.icon-vk_round {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-works_header {
	font-size:(165.036/10)*1rem;
	width:(505.101/165.036)*1em;
}
