extends ../_main-template

block variables
  - var title = 'Home page'

block content  
  +b.SECTION.box
    +b.header
      +e.title Выберите друзей
          +icon('times')
      +b.filter-section
        +e.half        
          +e.INPUT(type="text" placeholder="Начните вводить имя друга").input._left
          +icon('search')
        +e.half
          +e.INPUT(type="text" placeholder="Название").input
    +b.main
      +e.half
        +e.title Ваши друзья        
        +e.drop-zone(id="js-results")
      +e.half
        +e.title Друзья в списке
        +e.drop-zone(id="js-filter-zone")
    +b.footer
      +e.BUTTON.button Сохранить      
    script(id="user-template" type="text/x-handlebars-template")
      | {{#each items}}
      .main__item(draggable="true")
        img.main__img(draggable="false" src="{{photo_100}}")
        div.main__name
          | {{first_name}} {{last_name}}
        +icon('plus')
      | {{/each}}